<section class="reg_session">
  <div class="reg_img"></div>
  <div class="reg_box">
    <h2 class="reg_title">Inscription</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>


      <div class="field">
        <%= f.label :Nom, class:"label" %><br />
        <%= f.text_field :pseudo, autofocus: true, placeholder: "nom"%>
      </div>

      <div class="field">  
        <%= f.label :email, class:"label" %><br />
        <%= f.email_field :email, autocomplete: "email",placeholder: "email" %>
      </div>


      <div class="field">
        <%= f.label :mot_de_passe, class:"label" %>
        <% if @minimum_password_length %>
        <em class="label">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "mot de passe" %>
      </div>

      <div class="field">
        <%= f.label :confirmation_de_mot_de_passe, class:"label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirmation de passe" %>
      </div>

      <div class="actions">
        <%= f.submit "s'inscrire" %>
      </div>
    <% end %>
      <%= link_to "home", "/",class:"_link"%>
    <%= render "devise/shared/links",class:"button" %>
  </div>
</section>